In [28]:
import fastf1
event = fastf1.get_event(2018, "Monaco")
event

RoundNumber                                            6
Country                                           Monaco
Location                                     Monte Carlo
OfficialEventName    FORMULA 1 GRAND PRIX DE MONACO 2018
EventDate                            2018-05-27 00:00:00
EventName                              Monaco Grand Prix
EventFormat                                 conventional
Session1                                      Practice 1
Session1Date                   2018-05-24 11:00:00+02:00
Session1DateUtc                      2018-05-24 09:00:00
Session2                                      Practice 2
Session2Date                   2018-05-24 15:00:00+02:00
Session2DateUtc                      2018-05-24 13:00:00
Session3                                      Practice 3
Session3Date                   2018-05-26 12:00:00+02:00
Session3DateUtc                      2018-05-26 10:00:00
Session4                                      Qualifying
Session4Date                   2018-05-26 15:00:00+02:00
Session4DateUtc                      2018-05-26 13:00:00
Session5                                            Race
Session5Date                   2018-05-27 15:10:00+02:00
Session5DateUtc                      2018-05-27 13:10:00
F1ApiSupport                                        True
Name: 5, dtype: object

In [29]:
session = fastf1.get_session(2018, "Monaco", 'Q')
# the race that max verstappen destroyed his car in practice
session.load()
session.results
session.results.iloc[10:20].loc[:, ['Abbreviation']]

core           INFO 	Loading data for Monaco Grand Prix - Qualifying [v3.5.3]

req            INFO 	Using cached data for session_info
req            INFO 	Using cached data for driver_info
req            INFO 	Using cached data for session_status_data
req            INFO 	Using cached data for track_status_data
req            INFO 	Using cached data for _extended_timing_data
req            INFO 	Using cached data for timing_app_data
core           INFO 	Processing timing data...
core        WARNING 	No lap data for driver 33
core        WARNING 	Failed to perform lap accuracy check - all laps marked as inaccurate (driver 33)
req            INFO 	Using cached data for car_data
req            INFO 	Using cached data for position_data
req            INFO 	Using cached data for weather_data
req            INFO 	Using cached data for race_control_messages
core           INFO 	Finished loading data for 20 drivers: ['3', '5', '44', '7', '77', '31', '14', '55', '11', '10', '27', '2', '35', '16', '8', '28', '9', '18', '20', '33']

   Abbreviation
27          HUL
2           VAN
35          SIR
16          LEC
8           GRO
28          HAR
9           ERI
18          STR
20          MAG
33          VER

In [30]:
session.laps.iloc[30:35]

,Time,Driver,DriverNumber,LapTime,LapNumber,Stint,PitOutTime,PitInTime,Sector1Time,Sector2Time,...,FreshTyre,Team,LapStartTime,LapStartDate,TrackStatus,Position,Deleted,DeletedReason,FastF1Generated,IsAccurate
30,0 days 00:54:48.838000,VET,5,NaT,14.0,3.0,NaT,0 days 00:46:13.860000,0 days 00:00:24.245000,0 days 00:00:40.032000,...,True,Ferrari,0 days 00:44:52.562000,2018-05-26 13:40:52.587,1,NaN,False,,False,False
31,0 days 00:56:22.933000,VET,5,0 days 00:01:34.095000,15.0,4.0,0 days 00:54:49.540000,NaT,0 days 00:00:25.124000,0 days 00:00:41.583000,...,True,Ferrari,0 days 00:54:48.838000,2018-05-26 13:50:48.863,1,NaN,False,,False,False
32,0 days 00:57:34.196000,VET,5,0 days 00:01:11.263000,16.0,4.0,NaT,NaT,0 days 00:00:18.787000,0 days 00:00:33.498000,...,True,Ferrari,0 days 00:56:22.933000,2018-05-26 13:52:22.958,1,NaN,False,,False,True
33,0 days 01:00:56.605000,VET,5,NaT,17.0,4.0,NaT,0 days 00:58:48.504000,0 days 00:00:22.598000,0 days 00:00:36.782000,...,True,Ferrari,0 days 00:57:34.196000,2018-05-26 13:53:34.221,1,NaN,False,,False,False
34,0 days 01:02:20.809000,VET,5,0 days 00:01:24.204000,18.0,5.0,0 days 01:00:57.301000,NaT,0 days 00:00:24.509000,0 days 00:00:37.748000,...,True,Ferrari,0 days 01:00:56.605000,2018-05-26 13:56:56.630,1,NaN,False,,False,False

In [31]:
fastest_lap = session.laps.pick_fastest()
print(fastest_lap['LapTime'])
print(fastest_lap['Driver'])

0 days 00:01:10.810000
RIC